[Unit]
Description=NanoHat OLED Service
After=network.target

[Service]
Type=simple
ExecStart=/home/cho45/bin/node ./index.js
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always
WorkingDirectory=/home/cho45/nanohat-oled-nodejs

[Install]
WantedBy=multi-user.target

